{% extends "eco_advanced/base.html" %}

{% block title %}Contato{% endblock %}

{% block content %}
<div class="contact-content">
    <h1>Não deixe o barato sair caro no final, evite multas e economize na regularização da sua empresa.</h1>
    <p>Conte com quem pode confiar, conte com a ECO!</p>
    <p>Faça seu orçamento sem compromisso!</p>
    <p>67 3522-2782<br>67 98121-4587<br>67 99205-1727</p>
    <p>ecoadvanced<br>@ecoadvanced<br>ecoadvanced@ecoadvanced.com.br</p>
    <p>Av. Dr. Eloy Chaves, 367 • Centro<br>Três Lagoas - MS | 79602-001</p>
</div>
{% endblock %}