{% extends "eco_advanced/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home-content">
    <h1>Facilitamos a regularização da sua empresa para você trabalhar com segurança e tranquilidade!</h1>
    <p>Já atendemos as áreas de:</p>
    <ul>
        <li>Saúde, com clínicas, hospitais e laboratórios;</li>
        <li>Escolas, faculdades e instituições de ensino;</li>
        <li>Comércio;</li>
        <li>Indústria;</li>
        <li>Agronegócio;</li>
        <li>Hotelaria;</li>
        <li>Oficinas;</li>
        <li>Restaurantes e demais empresas do setor alimentício.</li>
    </ul>
</div>
{% endblock %}