{% extends 'eco_advanced/base.html' %}

{% block title %}Sobre{% endblock %}

{% block content %}
<div class="about-content">
    <h1>A ECO Advanced nasceu com o propósito de fornecer serviços essenciais para empresas que precisam de soluções segundo a sua real necessidade, com sustentabilidade e segurança. Todas as etapas de licenciamentos que o seu negócio precisa para funcionar corretamente nós executamos. Além disso, prezamos por soluções personalizadas e sustentáveis que valorizam a segurança do trabalho em seu negócio.</h1>
</div>
{% endblock %}